{% extends 'main/layout.html' %}

{% load static %}

{% block title %}Главная{% endblock %}

{% block sort %}

{% endblock %}

{% block content %}

    {% include 'main/sidebar.html' %}

    <main>
        {% if products is None %}
            <h1>Ваша корзина пуста</h1>
        {% elif cookie == "" %}
            <h1>Ваша корзина пуста</h1>
        {% else %}

        <div class="cart-title">
            <h1>Корзина</h1>
        </div>

            <ul class="nav nav-pills mb-auto items">
            {% for el in products %}
                <span class="item-cart"><li class="nav-item">
                    <a href="{% url 'trash' %}?id={{el.id}}"><img src="{% static 'main/img/trash.svg' %}" alt="Удалить элемент" class="item-favorite"></a>
                    <a class="item-link" href="{% url 'buy' el.id %}?id={{el.id}}">
                        <div class="item-img-div"><img src="{{ el.photo1.url }}" class="item-img"></div>
                        <p class="item-name px-4">{{ el.name_cut }}</p>
                        <p class="item-price px-4">{{ el.price }}</p>
                    </a>
                </li></span>
            {% endfor %}
            </ul>

            <a href="{% url 'buy_all' %}"><button class="btn btn-success order-all-btn">Заказать все</button></a>
        {% endif %}
    </main>

{% endblock %}