<sidebar class="d-flex flex-column p-0 categories">
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="{% url 'notebooks_and_accessories' %}" class="sidebar-text nav-link">
                Ноутбуки и компьютеры
            </a>
        </li>
        <li>
            <a href="{% url 'smartphones_tv_electronics' %}" class="sidebar-text nav-link">
                Смартфоны, ТВ и электроника
            </a>
        </li>
        <li>
            <a href="" class="sidebar-text nav-link">
                Периферия
            </a>
        </li>
    </ul>
</sidebar>